[submodule "libReloaded"]
	path = libReloaded
	url = https://github.com/sewer56lol/libReloaded
[submodule "Reloaded-Mod-Template"]
	path = Reloaded-Mod-Template
	url = https://github.com/sewer56lol/Reloaded-Mod-Template
[submodule "Reloaded-GUI"]
	path = Reloaded-GUI
	url = https://github.com/sewer56lol/Reloaded-GUI
[submodule "libReloaded-Networking"]
	url = https://github.com/sewer56lol/libReloaded-Networking.git
