<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorMine" version="1.2.0" targetFramework="net461" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net461" developmentDependency="true" />
  <package id="SharpDX" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.DirectInput" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.XInput" version="4.0.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>